* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100%;
}

html {
    height: 100%;
}

.container > * {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.container {
    display: grid;
    gap: 5px;
    grid-template-areas:
        "header"
        "navBar"
        "content"
        "foot";
}

.header {
    grid-area: header;
    background-color: #582f0e;
}
.navBar {
    grid-area: navBar;
    background-color:#7f4f24;
}
.content {
    grid-area: content;
    background-color: #936639
}
.foot {
    grid-area: foot;
    background-color: #a68a64   
}


/* ANCHO */
@media (max-width: 600px) {
    .container {
            grid-template: 
            "header" 100px  
            "navBar" 70px
            "content" auto
            "foot" 100px/
            100% ;
    }
}
@media (min-width: 601px) {
    body {
            grid-template: 
            "header" 100px
            "navBar" 70px
            "content" auto
            "foot" 100px/
            100% ;
    }
}

/* ALTO */

@media (max-height: 500px) {
    .container {
            grid-template: 
            "header" 60px
            "navBar" 40px
            "content" auto
            "foot" 50px/
            100% ;
    }
}
@media (min-height: 667px) {
    .container {
            grid-template: 
            "header" 80px
            "navBar" 50px
            "content" auto
            "foot" 50px/
            100% ;
    }
}